<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="~/CSS/1.css" rel="stylesheet" />
    <link href="~/CSS/2.css" rel="stylesheet" />
    <link href="~/CSS/Print.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
            </div>

            <ul class="list-unstyled components">
                <li>
                    <p>School Assigment</p>
                </li>

                <li>
                    @Html.ActionLink("Schools", "ListOfSchool", "School")
                </li>

                <li>
                    @Html.ActionLink("Teachers", "ListOfTeachers", "Teachers")
                </li>

                <li>
                    @Html.ActionLink("Subjects", "ListOfSubjects", "Subjects")
                </li>


                <li>
                    @Html.ActionLink("School & Classes ", "ListOfSchool", "SchoolClass")
                </li>

                <li>
                    @Html.ActionLink("Students", "ListOfSchool", "Students")
                </li>

                <li>
                    @Html.ActionLink("Teachers and Subjects", "ListOfTeachers", "TeachersAndSubject")
                </li>

                <li>
                    @Html.ActionLink("Class Table", "ListOfSchool", "SubjectTable")
                </li>
            </ul>

        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>


                </div>
            </nav>
            @RenderBody()

        </div>
    </div>


    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>




    <script src="~/JS/1.js"></script>
    <script src="~/JS/2.js"></script>
    <script src="~/JS/3.js"></script>


    <script>
        function myFunction() {
            var input, filter, cards, cardContainer, h3, title, title2, i;
            input = document.getElementById("myFilter");
            filter = input.value.toUpperCase();
            cardContainer = document.getElementById("myItems");
            cards = cardContainer.getElementsByClassName("card");
            for (i = 0; i < cards.length; i++) {
                title = cards[i].querySelector(".card-body ");

                if ((title.innerText.toUpperCase().indexOf(filter) > -1)/* || (title2.innerText.toUpperCase().indexOf(filter) > -1)*/) {
                    cards[i].style.display = "inline-block";
                } else {
                    cards[i].style.display = "none";
                }
            }
        }
    </script>

</body>
</html>
